@import 'obj';

$base-font-size: 16px !default;
$base-line-height: 24px !default;

@mixin foo() {
  padding: 6px 3px;
  border-top: 1px solid #eee;
  line-height: 20px;
}

@debug 'This is a debug statement';
@warn 'This is a warn statement';

html {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

body {
  @include foo();
  @include bar();
}
